<form [formGroup]="loginForm" (ngSubmit)="login()">
  <fieldset>
      <div class="container">
        <h1>Login Form</h1>
        <label for="email">Email:</label>
        <input type="text" #email formControlName="email" name="email">
        <ng-container *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
        <p stlye="color: red">
          Email is required!
        </p>
      </ng-container>
        <label for="username">Password:</label>
        <input type="password" #password formControlName="password" name="password">
        <ng-container *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
        <p stlye="color: red">
          Password is required!
        </p>
      </ng-container>
        <p>Don't have an account? <a href="/register">Sign up</a></p>
        <div class="center">
          <button>Login</button>
        </div>
      </div>
      </fieldset>
    </form>